.App {
	text-align: center;
}

.box {
	padding: 10px;
	border: 1px solid silver;
	margin: 10px;
	box-sizing: border-box;
}

.draggable {
	box-sizing: border-box;
	background-color: bisque;
	padding: 10px;
	margin: 10px;
	user-select: none;
	display: table;
}
